html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Raleway', sans-serif;
}

.flex-center {
    margin-top: 256px;
    margin-bottom: 128px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}

.game_map {
    width: auto;
}

.game_map-cell {
    text-align: center;
    font-size: 32px;
    padding: 0 !important;
    vertical-align: middle !important;
    width: 64px;
    height: 64px;
    -webkit-transition: all 0.3s ease;;
    -moz-transition: all 0.3s ease;;
    -o-transition: all 0.3s ease;;
    transition: all 0.3s ease;
}

.game_map-cell:hover {
    box-shadow: inset 0 0 0 8px #9DEEB5;
}

.radio-button {
    vertical-align: top;
}

.radio-label {
    font-size: 32px;
    font-weight: normal;
    margin: 0 16px;
}
